@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
    --bs-body-font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: #EDF2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF2F5;
}

.mobile-container {
    width: 462px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 80px;
}

.top-bar {
    width: 462px;
    max-width: 462px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.right-space {
    width: 25px;
}

.top-bar h1 {
    font-size: 26px;
    font-weight: 700;
    color: #00b2ff;
    position: absolute;
    left: 50%;
    margin:0px;
    transform: translateX(-50%);
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.top-bar img {
    height: 25px;
}

.back-icon {
    cursor: pointer;
    margin-right: 13px;
}

.backhome-icon {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.content {
    margin-top: 120px;
    flex: 1 0 auto;
}

.question-box {
    background-color: white;
    padding: 20px 20px 60px 20px;
}

.date {
    color: #A6A6A6;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.q-card {
    border: none !important;
    box-shadow: none !important;
}

.q-card-body {
    padding: 13px 0px 16px 0px;
}

.a-card-body {
    padding: 16px 0px 0px 0px;
}

.answer-box {
    background-color: white;
    padding: 20px 20px 0px 20px;
    margin-top: 10px;
}

.a-card {
    background-color: white;
    border-bottom: 1px solid #F2F2F2;
}
.card-text {
    font-size: 15px;
    color: #4C4C4C;
    font-weight: bold;
    padding-top: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

textarea {
    width:100%;
}

input[type=submit] {
    background-color: #00B2FF;
    border: none;
    text-align: center;
    margin-left: 350px;
    display: block;
    cursor: pointer;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.answer-form {
    flex-shrink: 0;
}

.title-text {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.title-text2 {
    margin: 13px 13px 0px 0px;
    padding-bottom: 20px;
    color: #00B2FF;
    font-size: 20px;
    font-weight: bold;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.answer-button {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

textarea::placeholder {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #A6A6A6;
}

@media screen and (max-width: 462px) {
    .mobile-container {
        width: 100%;
    }

    .top-bar {
        width: 100%;
    }

    .tabs {
        width: 100%;
    }

    .table {
        width: 100%;
    }

    input[type=submit] {
        margin-left: 250px;
    }
}