

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활관리법</title>
    <link rel="stylesheet" href="/life.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/management}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>생활관리법</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/byunbie.png" alt="변비 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header2">
                    <img src="/images/constipation-icon.png" alt="변비 아이콘" class="exercise-icon">
                    <h2>변비예방 및 해결법</h2>
                </div>
                <span class="content-text">대부분의 투석환자들은 수분제한과 칼륨이 많이 들어 있는 야채를
                제한하므로 변비에 걸리기 쉽습니다. 또한 이러한 변비는 동반된
                     당뇨병이나 요독증 증세로 의한 자율신경의 기능 이상으로 발생하기도 합니다.</span>
            </div>
            <div class="content">
                <div class="content-header2">
                    <img src="/images/constipation-icon.png" alt="변비 아이콘" class="exercise-icon">
                    <h2>투석 환자의 변비 조절법</h2>
                </div>
                <span class="content-text">• 섬유질은 배변을 돕기 때문에 변비에 효과적이지만 투석 환자의 경우
     반드시 자신의 상태에 따른 범위 내에서 수분과 섬유질 식품(채소, 과일)을
섭취하여야 합니다.</span>
                <span class="content-text">• 배변 운동을 활발하게 자극시키는 방법에는 규칙적인 운동도 효과가
좋습니다.</span>
                <span class="content-text">• 변비가 심해지기 전에 담당 의사선생님에게 상의하여 변비약을 처방
받도록 합니다.</span>
                <span class="content-text">• 임의로 약물을 복용하는 것은 위험하므로 반드시 담당 의사선생님의
진료를 꼭 받으십시오.</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
