<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육 자료</title>
    <link rel="stylesheet" href="/education-magazine.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/magazine}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>교육 자료</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/magazine-img2.png" alt="매거진2 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>투석이란 무엇인가요?</h2>
                </div>
                <span class="content-text">말기 신부전 환자의 경우, 대부분 집 또는 병원에서 투석 치료를 받습니다.
                    투석은 콩팥의 기능이 손상되어 혈액중의 노폐물과 수분을 체외로
                    배출할 수 없는 경우 콩팥의 기능을 대체하는 치료입니다. 투석은 외부
                    수단을 통해 노폐물 제거, 전해질 유지, 수분 유지를 할 수 있습니다.</span>

                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>투석 유형</h2>
                </div>
                <span class="content-text">투석은 <b>혈액투석</b>과 <b>복막투석</b>으로 크게 두 가지 유형이 있습니다.<br><br>
                    <b>혈액투석</b>을 받는 경우 보통 주 3회 병원이나 투석 클리닉을 방문하여
                    의사가 처방한 투석 일정에 따라 매회 3-5시간의 치료를 받습니다.
                    투석 치료를 받는 동안 간호사나 의사가 환자의 상태를 살피게 됩니다.<br><br>
                    <b>복막투석</b>은 복강에 부드러운 관을 삽입하고 이 관을 통해 깨끗한 투석액을
                    주입하여 복막을 통해 혈액속의 노폐물과 과도한 수분을 제거하는
                    방법입니다. 혈액 투석과 달리 복막투석은 환자가 투석 방법을 교육받은
                    후 병원을 방문하지 않고 집에서 스스로 투석을 하기 때문에 자율적으로
                    시간을 조절할 수 있어 잠자는 동안이나 여행 중에도 실시할 수 있습니다.
                    이동성이나 유연한 치료 일정을 중요하게 생각하는 분들께 적합한
                    치료법이 될 수 있습니다.<br><br>
                    투석 방법을 선택할 때는 의학적 상태, 직업, 생활 환경 등 여러 요인을
                    고려하는 것이 중요합니다. 투석 방법은 환자와 담당 의료진이 함께
                    논의하여 결정할 수 있으며 의료진은 적합한 치료방법에 대해 설명해
                    주실 것입니다. 선택한 치료 유형은 필요한 경우 나중에 변경할 수
                    있습니다.
                </span>
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>투석을 시작하기 전</h2>
                </div>
                <span class="content-text">투석을 시작하기 전에 투석 치료를 위한 통로를 만들어야 하며 혈액투석은
                    혈관 접근로를 복막투석의 경우 복강으로의 접근로를 만들게 됩니다.
                </span>
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>투석 시 기대 수명</h2>
                </div>
                <span class="content-text">투석 시 기대 수명은 동반 질환, 신장 이식을 받을 수 있는지 여부, 효과적인
                    투석 치료 등과 같은 다양한 요인들에 따라 달라집니다. 담당 의료진과
                   상담하여 자신의 구체적인 신체 상태를 파악하는 것이 필요하며 또한 치료
                   계획 및 투석 일정을 지키고 의료진의 조언을 따르는 것이 중요합니다.
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>