<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육 자료</title>
    <link rel="stylesheet" href="/education-magazine.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/magazine}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>교육 자료</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/magazine-img3.png" alt="매거진3 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>병원에서 혈액투석을 하는 환자 지원</h2>
                </div>
                <span class="content-text">병원에서 혈액투석을 하는 것은 많은 사람이 선택하는 치료 옵션입니다.
                    치료의 여정에서 환자와 당신 자신을 돌보기 위해 알아야 할 몇 가지 사항이
                    있습니다. 첫째, 병원에서 하는 투석은 일주일에 여러 번 진행하며,
                    각 치료마다 4~5시간에서 밤새까지 지속될 수 있습니다. 이 부분에 대해
                    준비가 필요합니다.
                </span>

                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>클리닉을 오가는 방법</h2>
                </div>
                <span class="content-text">투석 환자가 피곤하거나, 운전이 어려울 수 있기 때문에, 클리닉을 오가는
                    길에 당신의 도움이 필요할 수 있습니다. 치료 당일 운전할 수 있도록 미리
                     준비하거나 치료 시간에 다른 수단을 계획하는 것이 도움이 됩니다. 병원
                    차량이 필요한 환자의 경우, 투석 전 최대 2시간 전에 차량을 타고, 집으로
                    가기 위해 차량을 기다리게 될 수 있습니다.
                </span>
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>자신에게 더 많은 시간을 할애할 것입니다.</h2>
                </div>
                <span class="content-text">당신이 돌보는 사람이 클리닉에서 많은 시간을 보내기 때문에, 이 시간을
                        자신을 위해 사용할 수 있습니다. 집안일을 하든, 활동적으로 지내거나
                        친구와 시간을 보내든지, 이 시간을 활용하여 행복한 일에 집중하시기
                        바랍니다. 이것이 병원에서 혈액투석을 진행하는 것과 가정에서 투석을
                        하는 것 사이에 주요한 차이점 입니다.
                    </span>
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>집에서 눈과 귀가 되어주세요.</h2>
                </div>
                <span class="content-text">투석 환자의 삶에서 일어나고 일들을 면밀히 알아차리는 것이 중요하며, <br>
                        아래와 같은 내용은 의사와의 면담 때 도움이 될 수 있습니다.<br>
                        <span class="content-text-color">
                        감기 또는 독감과 같은 기타 증상<br>
                        수면 패턴의 변화<br>
                        기분이나 행동의 변화<br>
                        관찰되는 활동의 한계<br>
                        의료진에게 알려야 하는 문제<br>
                        </span>
                        중요한 사항이나 변화들을 일지를 작성하면 도움이 될 수 있습니다.<br>
                        이것은 또한 변화에 대처하는 데 도움이 될 수 있습니다.<br>
                    </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>