<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>교육 자료</title>
    <link rel="stylesheet" href="/education-magazine.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/magazine}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>교육 자료</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/magazine-img1.png" alt="매거진1 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>만성 콩팥병(CKD)은 무엇인가요?</h2>
                </div>
                <span class="content-text">만성콩팥병이 있으면 신장은 혈액에서 노폐물과 수분을 제거하는 능력을
                    점차 잃게 됩니다. 이런 일이 일어나면 몸에 해로운 노폐물과 수분이
                    쌓이기 시작하여 몸이 불편해집니다. 만성콩팥병은 완치는 어렵지만
                    <b>치료를 통해 진행을 늦추고 증상을 조절하여 전반적 삶을 영위하는 데
                    도움을 줄 수 있습니다.</b><br><br>만성콩팥병은 양쪽 신장에 동시에 영향을 미칩니다. 신체에는 노폐물을
                    걸러내는 두 개의 신장이 있지만, 한 쪽 신장이 다른 하나를 위한
                   “예비용”이 아닙니다. 이 둘은 여러분의 몸을 정화시키기 위해 함께
                   작동합니다. 만성콩팥병 진단을 받았다는 것은 양쪽 신장이 모두 영향을
                    받아 신체의 노폐물과 수분을 제대로 걸러낼 수 없다는 의미입니다.</span>

                <div class="content-header">
                    <img src="/images/magazine-content-icon.png" alt="매거진 내용 아이콘" class="magazine-content-icon">
                    <h2>만성 콩팥병(CKD)은 어떻게 진단하나요?</h2>
                </div>
                <span class="content-text">만성콩팥병의 진행이 심화되기 전까지는 증상을 느끼지 못할 수도
                    있습니다. 이것이 바로 신부전이 종종 “침묵”의 질환이라고 불리는
                    이유입니다. 증상은 비특이적인 경우가 많으며 사람마다 다를 수
                    있습니다. 신장은 기능 저하를 보상할 수 있기 때문에 회복 불가한
                    손상이 발생하기 전까지는 만성콩팥병 증상이 나타나지 않을 수 있습니다.</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>