<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>응급가이드</title>
    <link rel="stylesheet" href="/emergency.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <a th:href="@{/main}">
                <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
            </a>
            <h1>응급가이드</h1>
            <img src="/images/lounge-logo2.png" alt="투석라운지 로고" class="lounge-logo2">
        </div>
        <div class="content-box">
            <img src="/images/emergency-img.png" alt="응급가이드 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>수분 섭취가 필요할 때</h2>
                </div>
                <span class="content-text">투석환자는 체내수분 조절이 어려우므로, 수분 섭취에도 많은 제약이
                    따릅니다. 모종의 이유로 긴급하게 환자에게 수분 섭취가 필요할 때
                    행동요령은 얼음을 통해 천천히 수분을 흡수 시키는 것이 좋습니다.
                </span>

                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>비상연락망 파악은 필수!</h2>
                </div>
                <span class="content-text">투석환자들이 긴급하게 투석이 필요해지는 상황들이 있으므로,
                    투석환자가 신속히 이송될 수 있는 주변 투석센터, 병원의 비상연락망을
                    미리 파악해 놓는 것이 좋습니다.
                </span>
                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>투석 부위에 출혈 발생 시</h2>
                </div>
                <span class="content-text">출혈 부위를 확인하고 압박을 실시한 채로 병원으로 이동합니다.
                    </span>
                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>저혈압 발생 시</h2>
                </div>
                <span class="content-text">투석중 혈액의 급격한 손실로 인해 저혈압이 발생한 경우에는, 환자를
                        평평하게 눕힌 후, 투석 속도를 조절하고, 생리식염수를 투입하여 혈압을
                        안정시킵니다.
                    </span>
                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>투석 중 근육경련 발생 시</h2>
                </div>
                <span class="content-text">체액의 균형을 유지하기 위해 투석 속도를 재설정 하고, 이온음료 등을
                        통해 전해질 불균형을 조절해야 합니다.
                    </span>
                <div class="content-header">
                    <img src="/images/emergency-content-icon.png" alt="응급가이드 내용 아이콘" class="emergency-content-icon">
                    <h2>감염 발생 시</h2>
                </div>
                <span class="content-text">자가투석이 가능한 복막투석을 실시할 때, 투석 바늘, 카테터를 통한
                        감염 발생한다면 의사의 진단 아래 항생제를 투여하고 바늘을 교체합니다.
                    </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
