<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활관리법</title>
    <link rel="stylesheet" href="/life.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/management}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>생활관리법</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/life-exercise.png" alt="운동 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header1">
                    <img src="/images/exercise-icon.png" alt="운동 아이콘" class="exercise-icon">
                    <h2>운동</h2>
                </div>
                <span class="content-text">운동은 혈액순환을 촉진하고 근육을 강화시키며 정신건강에 좋으므로
                    투석 환자에게도 적극 권장됩니다. 무리가 없는 운동 (빨리 걷기, 스트레칭)으로 매일 규칙적으로, 일정한 시간 동안 하는 것이 좋습니다.</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
