

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활관리법</title>
    <link rel="stylesheet" href="/life.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/management}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>생활관리법</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/mindcontrol.png" alt="심리 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header3">
                    <img src="/images/psychology-icon.png" alt="심리 아이콘" class="exercise-icon">
                    <h2>투석환자의 심리변화 대처법</h2>
                </div>
                <span class="content-text">투석 환자들은 일반적으로 투석과 관련된 특수사항에 따른 식사제한과
성생활제한에서 오는 욕구좌절을 겪게 됩니다. 또한 치료과정에서 혈관과
피에 관련된 외상에 대한 불안, 신체기능, 재산, 직업, 가정생활 상실에서
오는 문제, 기계에의 의존문제, ‘가치 없는 생명’을 연장한다는 데서 오는
공포, 불안, 갈등에 대한 정신적인 문제에 부딪치게 됩니다. </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
