<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="/community-form.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/question/list}">
                    <img src="/images/back-icon2.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon2.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>글쓰기</h1>
            <div class="right-space"></div>
        </div>
        <div class="content">
            <div class="mobile-container">
                <h5 class="title-text">커뮤니티 글 등록</h5>
                <h5 class="title-text2">투석에 대한 모든 것을 질문해보세요. 경험을 공유하세요!</h5>
                <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
                    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                    <div class="m-3">
                        <input type="text" th:field="*{subject}" class="form-control" placeholder="  제목">
                    </div>
                    <div class="m-3">
                        <textarea th:field="*{content}" class="form-control" placeholder="  내용을 입력하세요."rows="10"></textarea>
                    </div>
<!--                    my-2 -> m-3으로? -->
                    <input type="submit" value="글쓰기" class="btn btn-primary my-2 answer-button">
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>