<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="/community-detail.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/question/list}">
                    <img src="/images/back-icon2.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon2.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>커뮤니티</h1>
            <div class="right-space"></div>
        </div>
        <div class="content">
            <!--질문 card 시작-->
            <div class="question-box">
                <h2 class="title-text" th:text="${question.subject}"></h2>
                <div class="q-card">
                    <div class="q-card-body">
                        <div class="date" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
                    </div>
                </div>
            </div>
            <div class="answer-box">
                <!--답변의 갯수를 의미-->
                <h5 class="title-text2" th:text="|${#lists.size(question.answerList)}개의 답변|"></h5>
                <!-- 답변 반복 시작 -->
                <div class="a-card" th:each="answer : ${question.answerList}">
                    <div class="a-card-body">
                        <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                        <div class="d-flex justify-content-start">
                            <div class="date">
                                <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 답변 반복 끝  -->
            </div>
        </div>
        <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3 answer-form">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <textarea th:field="*{content}" rows="5" class="form-control" placeholder="  답변을 남겨보세요."></textarea>
            <input type="submit" value="답변등록" class="btn btn-primary my-2 answer-button">
        </form>
    </div>
</div>
<script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>