
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강 레시피</title>
    <link rel="stylesheet" href="/recipe.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
            </div>
            <h1>건강 레시피</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <div class="recipe-text">
                <div class="recipe-title">
                    <img src="/images/cook-icon.png" alt="요리 아이콘">
                    <h2>저염 저칼륨 콩나물밥 레시피</h2>
                </div>
                <div class="recipe-difficulty">
                    <span>난이도</span>
                    <img src="/images/1star-icon.png" alt="별1 아이콘">
                    <img src="/images/1star-icon.png" alt="별1 아이콘">
                </div>
            </div>
            <div class="image-box">
                <img src="/images/recipe-img5.png" alt="레시피5 이미지" class="image">
            </div>
        </div>
        <div class="banner">
            <span class="banner-text">응급 상황에 필요한 가이드는 꼭 알아두세요!</span>
            <button class="detail" onclick="window.location.href='/service/emergency'">
                <span class="detail-text">자세히</span>
            </button>
        </div>
        <div class="tabs">
            <button class="tab inactive" onclick="window.location.href='/service/diet/recipe-m5'">재료</button>
            <button class="tab active">조리 순서</button>
        </div>
        <div class="recipe-content">
            <div class="step">
                <div class="step-number">1</div>
                <span class="cook-text">콩나물 속에 있는 칼륨을 제거하기 위해 끓는 물에<br>충분히 데쳐주세요.</span>
            </div>
            <div class="step">
                <div class="step-number">2</div>
                <span class="cook-text">데쳐진 콩나물을 채에 받아 열기를 식혀주세요.</span>
            </div>
            <div class="step">
                <div class="step-number">3</div>
                <span class="cook-text">팬을 참기름을 두르고 콩나물을 넓게 펴서 놓아주세요.<br>이 때 원하는 인분에 맞게 해주시면 됩니다.</span>
            </div>
            <div class="step">
                <div class="step-number">4</div>
                <span class="cook-text">밥을 올리고 뚜껑을 닫아주세요.<br>그리고 약 10분간 약한 불로 가열해줍니다.</span>
            </div>
            <div class="step">
                <div class="step-number">5</div>
                <span class="cook-text">밥과 콩나물을 잘 섞어 그릇에 담아주세요.</span>
            </div>
            <div class="step">
                <div class="step-number">6</div>
                <span class="cook-text">이제 저염 양념장을 만들어요.<br>먼저 다진파와 다진마늘을 준비해 주세요.</span>
            </div>
            <div class="step">
                <div class="step-number">7</div>
                <span class="cook-text">올리고당, 고춧가루 그리고 청양고추를 다져서 넣어주세요.</span>
            </div>
            <div class="step">
                <div class="step-number">8</div>
                <span class="cook-text">이제 양념장을 1/3정도 덜어서 콩나물밥에 비벼 드시면 됩니다.</span>
            </div>
        </div>
        <div class="tip-box">
            <span class="tip">TIP!</span>
            <span class="tip-text">칼륨 전처리: 조리 전 칼륨을 제거하는 단계로 물에 충분히 담구거나<br>데칩니다.<br><br>짠맛을 대신하기 위해 단맛, 매운맛, 고소한 맛 등을 평소보다 과하게<br>사용합니다. ex) 고추, 마늘, 파, 설탕, 올리고당, 참기름, 들기름 등</span>
        </div>
    </div>
</div>
</body>
</html>