

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활관리법</title>
    <link rel="stylesheet" href="/life.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/management}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>생활관리법</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/ondo.png" alt="체온 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header7">
                    <img src="/images/temperature-icon.png" alt="체온 아이콘" class="exercise-icon">
                    <h2>체온</h2>
                </div>
                <span class="content-text">투석 환자는 정상체온 36~37C(구강체온)로 정상치보다 약간 낮습니다.
열이 있거나 한기가 느껴지면 체온을 재보고 이상이 있을 경우 담당
의료인에게 알립니다.</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
