

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생활관리법</title>
    <link rel="stylesheet" href="/life.css">
</head>
<body>
<div class="background">
    <div class="mobile-container">
        <div class="top-bar">
            <div class="left-icons">
                <a th:href="@{/service/management}">
                    <img src="/images/back-icon.png" alt="뒤로가기" class="back-icon">
                </a>
                <a th:href="@{/main}">
                    <img src="/images/backhome-icon.png" alt="홈" class="backhome-icon">
                </a>
            </div>
            <h1>생활관리법</h1>
            <div class="right-space"></div>
        </div>
        <div class="content-box">
            <img src="/images/weight.png" alt="체중 이미지" class="image">

            <div class="lounge-data">
                <span class="lounge-data-largetext">lounge DATA</span>
                <span class="lounge-data-smalltext">투석에 관한 모든 정보를 알려드려요</span>
            </div>
            <div class="content">
                <div class="content-header8">
                    <img src="/images/weight-icon.png" alt="체중 아이콘" class="exercise-icon">
                    <h2>체중</h2>
                </div>
                <span class="content-text">몸 전체에 부종이 없는 상태에서 잰 체중을 건체중(Dry Wt)이라 하며
건체중을 잴 때는 혈압과 평상 체중을 고려하여야 합니다. 건체중은 매일 같은 시간, 같은 체중계에 같은 무게의 옷을 입고 측정하는
것이 올바르며 평상시 체중이 건 체중보다 1.5kg~2kg을 넘지 않도록
관리해야 합니다.</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
